<div class="col-lg-12" [@fadeIn]>

  <div class="col-lg-3" *ngFor="let keeper of keepers">
    <div class="thumbnail">
      <div class="animal-image-mask">
        <div *ngIf="keeper.image && keeper.image !=null">
          <img src="{{url +'get-image-file/'+ this.keeper.image}}" class="img-rounded img-responsive center-block" />

        </div>
        <div *ngIf=" !keeper.image && keeper.image ===null ">

          <img src="http://via.placeholder.com/380x200?text=Sin+Imagen...+:(" class="img-rounded img-responsive center-block" />

        </div>
      </div>

      <div class="caption">
        <h3>
          <!-- <a [routerLink]="['/animal',keeper._id]"> </a> -->
           {{keeper.name + ' ' + keeper.surname}}
        </h3>



      </div>
    </div>


  </div>
</div>
